<div ng-controller="UserController">

<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2><br>
      Enter Your UserName:
      <input type="text" class="form-control" name="username" placeholder="UserName" ng-model="userDetail.userName" required="" autofocus="" /><br>
      Enter Your Password:
      <input type="password" class="form-control" name="password" placeholder="Password" ng-model="userDetail.password" required=""/><br><br>      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>   
    </form>
  </div>
  </div>